
              <div class="friend-list-view">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-middle">
                      <img src="/images/dummy_profile_pic.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->
                <div class="posted-author">
                  <h6 class="author">{{first_name}} {{last_name}}</h6>
                  <button class="add-frnd"><a href="/professionals/{{id}}">See Profile</a></button>
                </div>
              </div>