/head>
<header>
    <div class="header-top sticky bg-white d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <!-- header top navigation start -->
                    <div class="header-top-navigation">
                        <nav>
                            <ul>
                                <li class="active"><a href="profile.html">home</a></li>     <!--NEED CHNAGE HREF-->
                                <li class="active"><a href="profile.html">Dashboard</a></li>
                                <li><a href="signup.html">Sign Out</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- header top navigation start -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<!-- header area start -->
<header>
    <div class="mobile-header-wrapper sticky d-block d-lg-none">
        <div class="mobile-header position-relative ">
            <div class="mobile-menu w-100">
                <ul>
                    <div class="header-top-navigation">
                        <nav>
                            <ul>
                                <li class="active"><a href="index.html">home</a></li>  <!--NEED CHNAGE HREF-->
                                <li class="active"><a href="index.html">Dashboard</a></li>
                                <li><a href="signup.html">Sign Out</a></li>
                            </ul>
                        </nav>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->

                            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                            <div class="signup-form-wrapper">
                                <h1 class="create-acc text-center"></h1>
                                <div class="signup-inner text-center">
                                    <h3 class="title">New Goal</h3>
                                    <form class="signup-inner--form">
                                        <div class="row">
                                            <div class="col-12">
                                                <select class="nice-select" name="sortby" id="profession-input-signup">
                                                    <option value="">Goal Type</option>
                                                    <option value="Yoga Instructor">Weight Loss</option>
                                                    <option value="Trainer">Pain Management</option>          
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="single-field" id="goal-newgoal" placeholder="Goal">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="single-field" id='currnet-newgoal' placeholder="Current">
                                            </div>
                                            <div class="col-12">
                                                <button class="submit-btn" id='submit-btn'>Submit</button>
                                            </div>
