{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
<p>You should have ended up on your <a href="/client/{{user.id}}">Profile Page</a></p>
{{/if}}

<img src="https://cropper.watch.aetnd.com/cdn.watch.aetnd.com/sites/2/2020/01/Alone_The_Beast_Musk_Ox_Close.jpg" alt="beast">

{{#unless isLoggedIn}}
  <br />
{{/unless}}

