{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
<p>You should have ended up on your <a href="/client/{{user.id}}">Profile Page</a></p>
{{/if}}



{{#unless isLoggedIn}}
  <br />
{{/unless}}

