<h1>Home</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>Welcome to Body Connect!</p>
<p>dont look here. These arent the droids you are looking for</p>
{{#unless isLoggedIn}}
  <br />
{{/unless}}