
<form class="signup-inner--form">
<input type="text" class="single-field" id="username" placeholder="Username">
<input type="text" class="single-field" id='password' placeholder="Password">
<button class='btn' type='submit'>Sign in</button>
<h6 class="terms-condition">Are you <a href="/signup">Creating an account?</a></h6>
</form>
                                    
<script src='/js/login.js'></script>