<form class="signup-inner--form">
<input type="text" class="single-field" id="name-input-signup" placeholder="Name">
<input type="text" class="single-field" id='age-input-signup' placeholder="Age">
<input type="text" class="single-field" id='email-input-signup' placeholder="Email">
<input type="password" class="single-field" id='password-input-signup' placeholder="Password">
<input type="text" class="single-field" id="location-input-signup" placeholder="Location">
<select class="nice-select" name="sortby" id="profession-input-signup">
<option value="">Profession</option>
<option value="Yoga Instructor">Yoga Instructor</option>
<option value="Trainer">Trainer</option>
<option value="Physical Therapist">Physical Therapist</option>
<option value="Massage Therapist">Massage Therapist</option>
<option value="Stretch Therapist">Stretch Therapist</option>
</select>
<button class="submit-btn" id='signup-btn'>Create Account</button>
<h6 class="terms-condition">Are you a <a href="/clientsignup">Client?</a></h6>
</form>