<body>

    <!-- header area start -->
    <header>
        <div class="header-top sticky bg-white d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <!-- header top navigation start -->
                        <div class="header-top-navigation">
                            <nav>
                                <ul>
                                    <li class="active"><a href="profile.html">home</a></li>
                                    <li><a href="signup.html">Sign Out</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header top navigation start -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- header area start -->
    <header>
        <div class="mobile-header-wrapper sticky d-block d-lg-none">
            <div class="mobile-header position-relative ">
                <div class="mobile-menu w-100">
                    <ul>
                        <div class="header-top-navigation">
                            <nav>
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li class="active"><a href="profile.html">Dashboard</a></li>  <!--CHANGE HREF TO DASH -->
                                    <li><a href="signup.html">Sign Out</a></li>
                                </ul>
                            </nav>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->

    <main>

        <div class="main-wrapper">
            <div class="profile-banner-large bg-img" data-bg="assets/images/banner/profile-banner.jpg">
            </div>
            <div class="profile-menu-area bg-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3">
                            <div class="profile-picture-box">
                                <figure class="profile-picture">
                                    <a href="profile.html">
                                        <img src="assets/images/profile/profile-1.jpg" alt="profile picture">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-1 order-lg-1">
                        <aside class="widget-area profile-sidebar">
                            <!-- widget single item start -->
                            <div class="card widget-item">
                                <h4 class="widget-title">{{username}}</h4>
                                <div class="widget-body">
                                    <div class="about-author">
                                        <p>{{username}}</p>
                                        <ul class="author-into-list">
                                            <li><a href="#"><i class="bi bi-office-bag"></i>Service Type: Trainer</a></li>
                                            <li><a href="#"><i class="bi bi-location-pointer"></i>San Diego</a></li>
                                            <li><a href="#"><i class="bi bi-heart-beat"></i>Website</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- widget single item end -->
                        </aside>
                    </div>


                    <div class="col-lg-6 order-1 order-lg-2">
                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <div class="posted-author">
                                    <h6 class="author"><a href="profile.html">Bio</a></h6>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                   {{user.username}}
                                </p>

                            </div>
                        </div>
                        

                        <!-- post status start -->
                        <div class="card">
                            <!-- post title start -->
                            <div class="post-title d-flex align-items-center">
                                <div class="posted-author">
                                    <h6 class="author"><a href="profile.html">CALENDLY</a></h6>
                                </div>
                            </div>
                            <!-- post title start -->
                            <div class="post-content">
                                <p class="post-desc">
                                </p>

                            </div>
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>

    </main>